.container {
  display: flex;
  align-items: center;
  height: 100%;
  color: $white;
  padding: rem-calc(4 16);
  margin-right: rem-calc(8);
  position: relative;
  cursor: pointer;
  font-size: rem-calc(16);
  -webkit-tap-highlight-color: transparent;

  &::before {
    content: '';
    transform: scale(0);
  }

  &::after {
    content: '';
    position: absolute;
    right: rem-calc(-6);
    width: rem-calc(1);
    height: rem-calc(8);
    background-color: $black-8;
    border-radius: rem-calc(4);
  }

  &:last-child {
    margin-right: 0;

    &::after {
      content: none;
    }
  }

  &.selected {
    padding: rem-calc(4 16 4 32);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      left: rem-calc(16);
      width: rem-calc(6);
      height: rem-calc(6);
      margin-top: rem-calc(-3);
      border-radius: 50%;
      background-color: $white;
      transform: scale(1);
      transition: transform $animation-duration__normal $timing-function $animation-duration__normal;
    }
  }

  .selection {
    background-color: $black-8;
    border: rem-calc(1) solid $black-1;
    border-radius: rem-calc(20);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
