@import "@/styles/mixins/underline";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .title {
    text-align: center;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: rem-calc(96);
    margin-bottom: rem-calc(48);
    gap: rem-calc(24);
    width: 100%;

    @include media(0, "md") {
      grid-template-columns: repeat(1, 1fr);
    }

    .imageWrapper {
      position: relative;
      height: rem-calc(600);
      width: 100%;

      @include media(0, "md") {
        height: rem-calc(400);
      }
    }
  }

  .socialWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem-calc(24);

    .igLink {
      display: flex;
      align-items: center;
      @include underline($color: transparent);

      &:hover {
        @include underline($color: $dark-blue);
      }
    }
  }
}
