.container {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 9999;

  &.open {
    transform: translateX(0);
  }

  .closeButton {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background-color: transparent;
    padding: rem-calc(32 24 32 24);
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: rem-calc(36);
    height: 100%;

    .text {
      color: $dark-blue;
    }
  }
}
