.container {
  position: relative;
  border-radius: rem-calc(8);
  background-color: $white;
  overflow: hidden;
  transition: transform 0.3s ease;

  .imageContainer {
    position: relative;
    width: 100%;
    height: rem-calc(300);
  }

  .textContainer {
    padding: rem-calc(24);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem-calc(12);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;

    .overlay {
      opacity: 1;
    }
  }
}
