.container {
  display: flex;
  gap: rem-calc(48);

  @include media(0, "lg") {
    flex-direction: column-reverse;
  }

  .imageContainer {
    position: relative;
    display: flex;
    width: 100%;
    flex: 1;

    @include media(0, "lg") {
      flex: auto;
      height: rem-calc(400);
    }
  }

  .textContainer {
    flex: 1;
    width: 100%;

    .title {
      font-weight: 500;

      @include media(0, "lg") {
        text-align: center;
      }
    }

    .text {
      margin-top: rem-calc(24);
    }
  }
}
