.container {
  background-color: $white;
  width: 100%;

  .wrapper {
    padding: $padding;
    max-width: $container-max-width;
    margin: 0 auto;

    @include media(0, "md") {
      padding: $padding-mobile;
    }

    .title {
      color: $dark-blue;
      font-weight: 500;
    }

    .contactWrapper {
      margin-top: rem-calc(96);
      display: flex;
      justify-content: space-between;
      align-items: center;

      .contactItem {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: rem-calc(48);

        .contactIcon {
          height: rem-calc(400);
          width: rem-calc(400);
          background-color: $dark-blue;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          transition: background-color 0.3s;

          &:hover {
            background-color: $dark-blue-hover;
          }
        }
      }
    }
  }
}
