// Headlines
%h1 {
  font-family: $primary-font-family;
  font-size: rem-calc(72);
  font-weight: 500;
  line-height: 120%;

  @include media(0, "sm") {
    font-size: rem-calc(42);
  }
}

%h2 {
  font-family: $primary-font-family;
  font-size: rem-calc(64);
  font-weight: 500;
  line-height: 120%;

  @include media(0, "sm") {
    font-size: rem-calc(36);
  }
}

%h3 {
  font-family: $primary-font-family;
  font-size: rem-calc(56);
  font-weight: 500;
  line-height: 120%;

  @include media(0, "sm") {
    font-size: rem-calc(28);
  }
}

%h4 {
  font-family: $primary-font-family;
  font-size: rem-calc(40);
  font-weight: 500;
  line-height: 110%;

  @include media(0, "sm") {
    font-size: rem-calc(22);
  }
}

%h5 {
  font-family: $primary-font-family;
  font-size: rem-calc(32);
  font-weight: 500;
  line-height: 165%;

  @include media(0, "sm") {
    font-size: rem-calc(18);
  }
}

%subtitle-1 {
  font-family: $primary-font-family;
  font-size: rem-calc(30);
  font-weight: 500;
  line-height: 140%;

  @include media(0, "sm") {
    font-size: rem-calc(22);
  }
}

%subtitle-2 {
  font-family: $primary-font-family;
  font-size: rem-calc(24);
  font-weight: 400;
  line-height: 100%;

  @include media(0, "sm") {
    font-size: rem-calc(18);
  }
}

// Body
%body-1 {
  font-family: $secondary-font-family;
  font-size: rem-calc(22);
  font-weight: 400;
  line-height: 150%;

  @include media(0, "sm") {
    font-size: rem-calc(16);
  }
}

%body-2 {
  font-family: $secondary-font-family;
  font-size: rem-calc(16);
  font-weight: 400;
  line-height: 150%;

  @include media(0, "sm") {
    font-size: rem-calc(16);
  }
}

%body-3 {
  font-family: $secondary-font-family;
  font-size: rem-calc(16);
  font-weight: 400;
  line-height: 150%;

  @include media(0, "sm") {
    font-size: rem-calc(14);
  }
}
