// Colors
$primary: #2962d0;
$secondary: #5bb7e4;

// Fonts
$primary-font-family: "PlayfairDisplay", sans-serif;
$secondary-font-family: "Lato", sans-serif;

// Transitions
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$animation-duration__fast: 150ms;
$animation-duration__normal: 225ms;
$animation-duration__slow: 450ms;

// Breakpoints and sizes
$breakpoints: (
  xs: 375px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
);
$max-width: map-get($breakpoints, "xl");
$padding: rem-calc(120);
$padding-mobile: rem-calc(24);

$navbar-height: 3.75rem;
$mobile-navbar-height: 4.5rem;
