.container {
  margin-top: rem-calc(96);

  .servicesWrapper {
    margin-top: rem-calc(64);
    display: flex;
    gap: rem-calc(24);

    @include media(0, "sm") {
      flex-direction: column;
    }
  }
}
